# ── Servidor ──────────────────────────────────────────
SERVER_PORT=8083

# ── Kafka ─────────────────────────────────────────────
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_CONSUMER_GROUP=notification-group

# ── Tópicos Kafka ─────────────────────────────────────
KAFKA_TOPIC_ORDER_CREATED=order.created
KAFKA_TOPIC_ORDER_UPDATED=order.updated
KAFKA_TOPIC_ORDER_DELIVERED=order.delivered

# ── Redis ─────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
